!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}/

    %title KamaleshwarJirnodhar

    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "bootstrap.min"
    = stylesheet_link_tag "font-awesome.min"
    = stylesheet_link_tag "magnific-popup"
    = stylesheet_link_tag "creative.min"

    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"     , :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic", :rel => "     stylesheet", :type => "text/css"}/

    = javascript_include_tag "application"
    = yield :javascript if content_for?(:javascript)

  %body#page-top{:class=> "#{controller_name} #{action_name}" }
    = yield


